<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    
    <% include ./partials/nav %>

    <div class="container">
      
      <!-- call to action -->
      <div class="call-to-action row">
        <div class="col-md-8">
          <h1><b><span class="yellow">LEARN</span> MORE<br> <span class="yellow">FEEL</span> LESS FRUSTRATED<br> <span class="yellow">GET</span> THE JOB</b></h1>
        </div>
        <div class="col-md-4 call-right">
          <p>Chingu is a global collaboration platform and coding-cohort generator. We connect motivated learners with shared goals to learn, help and build together.</p>
        </div>
      </div>
      
      <!-- cohorts container -->
      <div class="row cohorts-row" id="cohorts-container">
        <div class="section col-md-3">
          <h3>The Chingu Project</h3>
          <p>Simple explanation + <a href="http://bit.ly/2kpcSC0">Survey Link</a>.</p>
        </div>

          <div class="col-md-3 card" id="sea">
            <span class="title-div">
            <img src="https://raw.githubusercontent.com/Kornil/Chingu-Animal-Icons/master/animals/penguin/favicon-32x32.png" />
            <h2>Penguin</h2>
            </span>
            <div class="desc">
              <p><b>#back-end<br>
              #part-time #full-time</b></p>
              <p>No one knows what these guys do, we grouped every weird dev in the sea animals cohorts.</p>
              <button class="btn btn-danger btn-sm">space: full</button>
            </div>
          </div>
          <div class="col-md-3 card" id="land">
            <span class="title-div">
            <img src="https://raw.githubusercontent.com/Kornil/Chingu-Animal-Icons/master/animals/red-panda/favicon-32x32.png" />
            <h2>Red Panda</h2>
            </span>
            <div class="desc">
              <p><b>#front-end<br>
              #part-time #full-time</b></p>
              <p>Love playing with material design colors? Join the land animals cohorts to find devs like you.</p>
              <button class="btn btn-success btn-sm">space: 53</button>
            </div>
          </div>
          <div class="col-md-3 card" id="sky">
            <span class="title-div">
            <img src="https://raw.githubusercontent.com/Kornil/Chingu-Animal-Icons/master/animals/flamingo/favicon-32x32.png" />
            <h2>Flamingo</h2>
            </span>
            <div class="desc">
              <p><b>#machine-learning<br>
              #full-time</b></p>
              <p>Wanna build the androids from Blade Runner? The flying animals cohorts are the place for you.</p>
              <button class="btn btn-success btn-sm">space: 53</button>
            </div>
          </div>

      </div>

      <!-- projects container -->
      <div class="row second-row" id="projects-container">
        <div class="section col-md-3" id="cohort-title">
          <h3>Featured projects</h3>
          <p>To apply: simply fill out this <a href="http://bit.ly/2kpcSC0">PLACEMENT SURVEY</a>. If you have any questions, please feel free to send an email at<br><b>CHINGUFTW@GMAIL.COM</b></p>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">

          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">

          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">

          </div>
        </div>
      </div>

      <!-- testimonials container -->
      <div class="row second-row" id="testimonials-container">
        <div class="section col-md-3" id="cohort-title">
          <h3>Testimonials</h3>
          <p>To apply: simply fill out this <a href="http://bit.ly/2kpcSC0">PLACEMENT SURVEY</a>. If you have any questions, please feel free to send an email at<br><b>CHINGUFTW@GMAIL.COM</b></p>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <p style="font-style: italic;">
              "An amazing collaborative experience beyond any expectation."
            </p>            
            <h4 style="font-weight: 700; margin-top: 10px;float:right;">Periklis from Greece
            <a style="display:inline-block"><img src="assets/twitterpixel.png" width="16px" height="16px" /></a>
            </h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <p style="font-style: italic;">
              "Learn with other developers, you start as noob and become a pro with a family of devs."
            </p>            
            <h4 style="font-weight: 700; margin-top: 10px;float:right;">Parminder from India
            <a style="display:inline-block"><img src="assets/twitterpixel.png" width="16px" height="16px" /></a>
            </h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <p style="font-style: italic;">"Chingu is to FreeCodeCamp as Redux is to React."</p>
            <h4 style="font-weight: 700; margin-top: 10px;float:right;">Logochev from Russia
            <a style="display:inline-block"><img src="assets/twitterpixel.png" width="16px" height="16px" /></a>
            </h4>
          </div>
        </div>
      </div>

    </div>

    <div class="section" id="cohort-about">
      <div class="container">
        <h1>- ABOUT -</h1>
        <div class="row">

          <div class="col-md-6 desc-section-l">
            <p>Here is what we do: put motivated people with similar goals together in an environment that gives them the opportunity to level-up in a way they couldn't otherwise. Friendships, level ups and hijinks ensue. The FCC chatrooms are great, but for the more shy (like me) they can be a bit chaotic and intimidating. This project aims to create more of a bootcamp style community</p>
          </div>

          <div class="col-md-6 desc-section-r">
            <p>How it works is you send an email to chinguftw@gmail I'll get my messenger-pigeon to send you a Placement Survey within a few days. So if you're serious about learning to code, feel free to pick a cohort and join this experiment. If you have any questions or ideas, let's chat!</p>
          </div>

        </div>
      </div>
    </div>

    <!-- donation div -->
    <div class="container">
      <div class="row">
        <div class="donation-div col-md-8 col-md-offset-2">
          <h3><b>Share some love</b></h3>
          <p>For anyone who wants to or can give a monthly donation, at the end of each month you will be able to.
          It takes many hours to coordinate, facilitate and make these cohorts what they are, as well as funds to sustain.
          So if you found your cohort experience valuable and want to support Chingu's existence, any amount is much appreciated.</p>
          <div class="text-center">
            <form style="margin:25px 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="KBJ9E8DUWJVL2">
              <button name="submit" class="btn btn-default donation-button">One time donation</button>
            </form>
            <button class="btn btn-default donation-button">Monthly donation</button>
          </div>
        </div>
      </div>
    </div>

    <!--<footer id="footer" class="navbar navbar-inverse">
      <div class="container" style="text-align:center;">
        <h5>Copyright © CHINGU 2017</h5>
      </div>
    </footer>-->

  </body>
</html>