:root {
  --primeColor: #f1c40f;
}
body {
  padding-top: 50px;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
}
::-moz-selection { 
  background: var(--primeColor);
}
::selection { 
  background: var(--primeColor); 
}
.yellow::selection {
  color: #fff;
}
.yellow::-moz-selection {
  color: #fff;
}

/* navbar */
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: var(--primeColor);
}
.navbar-inverse {
  font-weight: bold;
  background: inherit;
  border: 0;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #333;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 0 var(--primeColor);
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  padding: 15px 0;
  margin: 0 10px;
}
.navbar-inverse .navbar-brand:focus #logo-it, .navbar-inverse .navbar-brand:hover #logo-it,
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #333;
}
/* end navbar style */

.thumbnail {
  display: inline-block;
  float: none;
  width: 33%;
  height: 200px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  border-radius: 0;
}
@media (max-width: 768px) {
  .thumbnail {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .thumbnail {
    width: 100%;
  }
}
@media (min-width : 992px) {
  .desc-section-l {
    padding-left: 20%;
  }
  .desc-section-r {
    padding-right: 20%;
  }
}
.yellow {
  color: var(--primeColor);
}
.call-to-action {
  padding-top: 25px;
  margin-bottom: 45px;
}
.call-to-action h1 {
  font-size: 4.5em;
}
.call-right {
  border-left: 2.5px solid var(--primeColor);
  margin-top: 15px;
}
#cohorts-container {
  background: #fcf3cf;
}
#projects-container {
 background: #d3eedf;
}
#testimonials-container {
 background: #d4e5f1;
}
.cohorts-row {
  margin-top: 35px;
}
.cohorts-list {
  overflow-x: auto;
}
.section {
  margin-bottom: 25px;
}
.section h3 {
  font-weight: bold;
}
#cohort-about {
  background-color: darkgreen;
  color: #fff;
  margin-top: 25px;
  padding-bottom: 40px;
}
#footer {
  margin: 50px 0 0 0;
  color: #fff;
  padding-top: 10px;
}
.user {
  position: absolute;
  left: 10px;
}
.fa-times {
  cursor: pointer;
  bottom: 6px;
  position: absolute;
  right: 8px;
  color: #bd081c;
}
.fa-times:hover, .fa-cog:hover {
  opacity: 0.8;
}
.fa-cog {
  cursor: pointer;
  bottom: 6px;
  position: absolute;
  right: 20px;
}
.title, .description, .space {
  position: absolute;
  color: #fff;
}
.title {
  top: -32px;
  right: 0px;
  background: darkgreen;
  border-radius: 5px 5px 0 0;
  text-align: center;
  width: 70%;
}
.title h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
}
.description {
  top: 0px;
  right: 0px;
  background: darkgreen;
  opacity: 0.8;
  text-align: center;
  width: 70%;
}
.description h4 {
  font-size: 1.2em;
  margin: 0;
  padding: 5px 10px;
}
.space {
  bottom: 0;
  left: 0;
  background: #888;
  opacity: 0.8;
}
.space p {
  font-size: 0.8em;
  margin: 0;
  padding: 5px;
}
#preview {
  width: 275px;
  height: 190px;
  float: none;
  margin: 50px auto 0;
}

.card {
  color: #fff;
  padding: 10px;
  display: inline-block;
  float: none;
  width: 33%;
  position:relative;
}
.card img {
  padding: 5px;
  float:left;
}
.card h2 {
  margin-top: 5px;
}
.desc{
  padding: 15px;
  padding-top: 0;
}
#sea {  
  background: #03A9F4;
}
#sky {
  background: #1abc9c;
}
#land {
  background: #8BC34A;
}